################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSasic2/v16
/CSasic2/bin
/CSasic2/obj
/CommandLine/obj
/CommandLine/bin/Debug/netcoreapp3.1
